@model Skeeetch.Models.DocumentRoot

@{
    ViewBag.Title = "KeywordView";
}

<h2>KeywordView</h2>

<div>
    <h4>Document</h4>
    <hr />
    <dl class="dl-horizontal">

        @Html.DisplayNameFor(model => model.Documents.FirstOrDefault().YelpId)
        @Html.DisplayFor(model => model.Documents.ElementAt(1).YelpId)
        <dd>
            @for (int i = 0; i < 3; i++)
            {


                //@Html.DisplayFor(model => model.Documents.ElementAt(0).KeyPhrases[0])
                //@Html.DisplayFor(model => model.Documents.ElementAt(0).KeyPhrases[1])

                if (Model.Documents.ElementAt(0).KeyPhrases.Count > (i))
                {
                    @Html.DisplayFor(model => model.Documents.ElementAt(0).KeyPhrases[i])
                    <br />
                }
            }
        </dd>

        <dd>
            @for (int i = 0; i < 3; i++)
            {


                //@Html.DisplayFor(model => model.Documents.ElementAt(0).KeyPhrases[0])
                //@Html.DisplayFor(model => model.Documents.ElementAt(0).KeyPhrases[1])

                if (Model.Documents.ElementAt(1).KeyPhrases.Count > (i))
                {
                    @Html.DisplayFor(model => model.Documents.ElementAt(1).KeyPhrases[i])
                    <br />
                }
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
